<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Coagra Reportes Asistencia</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    <link href="@Url.Content("~/Content/bootstrap-theme.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap-theme.css.map")" rel="stylesheet" />
    @RenderSection("styles", required: false)

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/myScripts")
    <script src="@Url.Content("~/Scripts/globalize/globalize.js")"></script>
    <script src="@Url.Content("~/Scripts/globalize/cultures/globalize.culture.es-CL.js")"></script>
    <script type="text/javascript">
        jQuery.browser = {};
        (function () {
            jQuery.browser.msie = false;
            jQuery.browser.version = 0;
            if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
                jQuery.browser.msie = true;
                jQuery.browser.version = RegExp.$1;
            }
        })();
        $(document).ready(function () {
            // use the language provided from server…
            var lang = $("html").attr("lang");
            if (typeof Globalize != 'undefined')
                Globalize.culture('es-CL');
        });
        // replace methods in jquery.validate.js ($.validator.methods) as necessary for localized validation:

        $.validator.methods.number = function (value, element) {
            return this.optional(element) || !isNaN(Globalize.parseFloat(value));
        }

        $.validator.methods.date = function (value, element) {
            if (this.optional(element))
                return true;
            var result = Globalize.parseDate(value);
            return !isNaN(result) && (result != null);
        }

        $.validator.methods.min = function (value, element, param) {
            return this.optional(element) || Globalize.parseFloat(value) >= param;
        }

        $.validator.methods.max = function (value, element, param) {
            return this.optional(element) || Globalize.parseFloat(value) <= param;
        }

        $.validator.methods.range = function (value, element, param) {
            if (this.optional(element))
                return true;
            var result = Globalize.parseFloat(value);
            return (result >= param[0] && result <= param[1]);
        }
    </script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
          <script src=
        <!--[if lt IE 9]>
          <script src="@Url.Content("~/Scripts/html5shiv.js")"></script>
          <script src="@Url.Content("~/Scripts/respond.js")" type="text/javascript"></script>
        <![endif]-->
    @RenderSection("scripts", required: false)
</head>
<body>
    <div id="body">
        <div id="main" class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="">
                        <img height="50px" src="@Url.Content("~/Content/imagenes/LogoCoagra.jpg")" alt="Coagra" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="text-right">
                        <img height="50px" src="@Url.Content("~/Content/imagenes/LogoAufen.png")" alt="Aufen" />
                    </div>
                </div>
            </div>
            <div class="row">
                <nav class="navbar navbar-default">
                    <div class="collapse navbar-collapse">
                        <ul class=" nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Reportes<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Reportes Asistencia", "ListarReporte", "Reportes")</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Administración<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Carga Turno Histórico", "CargaArchivoTurnoHistorico", "CargaArchivo")</li>
                                </ul>
                            </li>
                            @if (Request.IsAuthenticated)
                            {
                                <li>
                                    @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "", title = "Manage" })

                                </li>
                                <li>
                                    <a href="#" onclick="$('#logoutForm').submit()"><i class="glyphicon-off glyphicon"></i></a>
                                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                    {
                                        @Html.AntiForgeryToken()

                                    }
                                </li>
                            }
                            else
                            {
                                <li>@Html.ActionLink("Ingresar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                            }
                        </ul>
                    </div>
                </nav>
            </div>
            @if (TempData["Mensaje"] != null)
            {
                <div class="alert alert-info fadeout-5 text-center" role="alert">
                    @TempData["Mensaje"].ToString()
                </div>
            }
            <br />
            @RenderBody()
        </div>
    </div>
    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="navbar-inner">
            <div class="container">
                <p class="navbar-text pull-right">
                    Aufen
                </p>
            </div>
        </div>
    </div>
</body>
</html>
